* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*#region HEADER*/
header {
    border-bottom: 2px solid black;
    z-index: 10;
    opacity: 1;
    background-color: white;
    background: white;
    padding: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;  /* Sticks to top when scrolling */
    top: 0;  /* Stick to the top */
}

h1 {
    white-space: nowrap;  /* Prevent text from wrapping */
}

nav {
    display: flex;
    gap: 30px;
    width: 100%;  /* Take full width */
}

.left-buttons {
    display: flex;
    gap: 15px;
    margin-left: 20px;
}

.right-buttons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}
/*#endregion HEADER*/
/*#region PAGE SECTION*/
.page-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease; 
}

.page-section.active {
    opacity: 1;
    visibility: visible;
}
/*#endregion PAGE SECTION*/

#home {
    background-color: white;
}

/*#region HERO BANNER*/
.hero-banner {
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: 1;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 7.5px;
}

.cta1 {
    display: inline-block
}

.cta1 a{
    display: block;
    background-color: white;
    padding: 15px 40px;
    text-decoration: none;
    transition: background-color 0.30s;
    border-radius: 20px;
    color: black
}

.cta1 a:hover {
    background-color: #000000;
    color: white;
}

/* Black overlay only on hero banner */
.hero-banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
/*#endregion HERO BANNER*/

/*#region WELCOME-SECTION*/
.welcome-section {
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    border-top: 2px solid black;
}

.welcome-item {
    display: flex;
    align-items: center;
    gap: 0px;
    max-width: 100%;
    margin: 0 0;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}

.welcome-img {
    flex: 0 0 650px; 
    height: 500px;
}

.welcome {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
    border-radius: 8px;
}

.welcome-text {
    flex: 1;  
    text-align: center;
    padding: 0 60px;
}

.welcome-text h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.welcome-text p {
    font-size: 20px;
    text-align: justify;
}

.cta2 {
    padding: 20px;
    display: inline-block;
}

.cta2 a{
    display: block;
    color: black;
    background-color: white;
    padding: 15px 40px;
    text-decoration: none;
    transition: background-color 0.30s;
    border-radius: 20px;
    border: 2px solid gray;
}

.cta2 a:hover {
    background-color: #000000;
    color: white;
}
/*#endregion*/

/*#region BESTSELLER-SECTION*/
.bestseller-section {
    width: 100%;
    border: 1px solid rgb(129, 129, 129);
    padding: 20px 10px;
}

.bestseller-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 15px;
    gap: 15px;
    box-sizing: border-box;
}

.bestseller-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border: 2px solid black;
    box-sizing: border-box;
}

.bestseller-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f5f5f5;
    flex-direction: column;
}

.bestseller-img img {
    width: 100%;
    height: auto; 
    border: 1px solid black;
}
/*#endregion BESTSELLER-SECTION*/

/*#region KEYPOINTS-SECTION*/
.keypoints-section {
    width: 100%;
    padding: 20px 10px;
    border: 2px solid black;
}
.keypoints-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
}

.keypoints-txt h1 {
    text-align: center;
}

.keypoints-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border: 2px solid black;
}

.keypoints-icon {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    font-size: 25px;
}

.keypoints-itemtxt {
    margin-top: 15px;
}

.keypoints-itemtxt h2 {
    font-size: 25px;
}

.keypoints-itemtxt h3 {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 100;
    color:rgb(162, 163, 164)
}

.keypoints-last {
    text-align: center;
    margin-top: 20px;
}

.keypoints-last p {
    margin: 10px 375px;
    font-size: 16px;
    color: rgb(148, 147, 147);
    font-weight: 100;
}

.keypoints-cta {
    padding: 10px;
    display: inline-block;
}

.keypoints-cta a{
    display: block;
    color: black;
    background-color: white;
    padding: 6px 20px;
    text-decoration: none;
    transition: background-color 0.30s;
    border-radius: 5px;
    border: 2px solid gray;
    text-align: center;
}

.keypoints-cta a:hover {
    background-color: #000000;
    color: white;
}
/*#endregion KEYPOINTS-SECTION*/

/*#region FOOTER*/
footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border: 2px solid black;
    height: 250px;
}

.mainlogo {
    padding: 30px;
}

.footer-options {
    display: flex;
    flex-direction: column;
}

.footer-options h3 {
    font-weight: 200;
    color: #a9a8a8;
    font-size: medium;
    padding: 2px 0
}

.footer-copyright {
    text-align: center;
    grid-column: 1 / -1;
    font-size: small;
    margin-top: 45px;
}
/*#endregion FOOTER*/